<h1>User Profile</h1>


<div class="profile-area">

<% current_user.profile.photo = cl_image_tag("wghvi9gbxc0z0a1yniz3",
      width: 150, height: 150, crop: :thumb, gravity: :face) %>

<%= current_user.profile.photo %>

<%= current_user.email %>

<%= current_user.profile.username %>


</div>



