.wrapper-combat {
  background-color: black;
  height: calc(100vh - 70px);
}

.container-title {
  background-color: gray;
  margin: 50px 100px;

  h1 {
    font-size: 80px;
  }
}

.fightsymbol {
  flex: 0 0 20%;
  height: 500px;
  background-color: gray;
  margin: 50px 50px;

}

.movie-header {
  height: 350px;
}

.movie-details {
  height: 150px;
  padding-top: 20px;

  h1 {
    color: black;
    font-size: 50px;
  }
}

.battle-symbol {
  width: 350px;
  padding-top: 60px;
}

.fa-swords {
  width: 350px;
  color: white;
}




