.masthead {
  height: calc(100vh - 170px);
  min-height: 35rem;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color:transparent;
  z-index: -7;
}
.margins {
    margin-left: auto!important;
    margin-right: auto!important;
}
@media (min-width: 768px) {
  .masthead h1 {
    font-size: 6rem;
    line-height: 6rem;
  }
}
@media (min-width: 992px) {
  .masthead {
    height: calc(100vh - 170px);
    padding: 0;
  }
  .masthead h1 {
    font-size: 8.5rem;
    line-height: 8.5rem;
    letter-spacing: 0.8rem;
  }
}
.btn {
  -webkit-box-shadow: 0 0.1875rem 0.1875rem 0 rgba(0, 0, 0, 0.1) !important;
  box-shadow: 0 0.1875rem 0.1875rem 0 rgba(0, 0, 0, 0.1) !important;
  padding: 1.25rem 2rem;
  margin-top: 10px;
  font-family: 'Arimo', sans-serif;
  font-size: 80%;
  text-transform: uppercase;
  letter-spacing: .15rem;
  border: 0;
}
.btn-primary {
  background-color: #ad00d1;
}

.btn-primary:hover {
  background-color: #7a00aa;
}

.btn-primary:focus {
  background-color: #7a00aa;
  color: white;
}

.btn-primary:active {
  background-color: #467370 !important;
}
.index-da-massa {
  position: relative;
  z-index:2;
}
.text-uppercase {
  color: $purple !important;
}
