.lp-title {
  padding-bottom: 40px;
  font-size:75px;
  font-family: 'Cabin', sans-serif;
}
.lp-subtitle {
  padding-bottom: 40px;
  font-size:30px;
  font-family: 'Cabin', sans-serif;
  // font-family: 'Lobster Two', cursive;
  letter-spacing: 2px;
}
.lp-container {
  padding:0px;
}
