.wrapper-movie-info {
  background-color: black;
  min-height: calc(100vh - 140px);
  padding: 50px 400px;
}

.container-movie-info {
  background-color: rgba(200,200,200,0.5)
}

.movie-name {
  color: white;
  font-size: 40px;
}

.movie-poster {
  width: 300px;
}

.movie-descrption {
  color: white;
  font-size: 30px;
}
