.wrapper-moviesindex {
  background-color: black;
  min-height: calc(100vh - 140px);
  padding: 20px 250px;
}


.container-moviesindex {
  background-color: rgba(100,100,100,0.5);
  padding: 50px 50px;
}

.each-movie-moviesindex {

}

.moviesindex-name {
  font-size: 25px;
  width: 67%;
}

.moviesindex-battleswon {
  font-size: 30px;
  width: 20%;
}

.moviesindex-awareness {
  font-size: 30px;
  width: 20%;
}

.moviesindex-header {
  height: 50px;
}

.header-title {
  font-size: 30px;
  font-weight: bold;
  color: rgba(162,0,255,1);
}

.header-winrate {
  font-size: 30px;
  font-weight: bold;
  color: rgba(162,0,255,1);

}

.header-awareness {
  font-size: 30px;
  font-weight: bold;
  color: rgba(162,0,255,1);

}
