.wrapper-profiles {
  height: 200vh;
  background-color: black;
  padding: 50px 400px;
}

.container-profiles {
  background-color: rgba(200,200,200,0.8);
  border: 2px solid white;
  padding: 20px 20px;
}

#profiletable {

}

.each-profile {
  height: 50px;
}

.profile-table-photo img {
  border: 1px solid rgba(100,100,100,1);
}

td {
  padding-top: 5px;
  padding-bottom: 10px;
  padding-right: 5px;
}

td:first-child {
  padding-left: 5px;
  padding-right:0;
}

.profile-table-email {
  font-size: 20px;
  color: white;
  padding-right: 200px;
  padding-left: 40px;
}

.profile-table-relevance {
  font-size: 30px;
  font-weight: bold;
  padding-right: 150px;
  text-shadow: 1px 1px black;
}

.relevance-pct-symbol {
  font-size: 25px;
  font-weight: lighter;
  padding-left: 5px;
}


.profile-table-follow {

}
