.wrapper-profiles {
  height: 200vh;
  background-color: black;
  padding: 50px 400px;
}

.container-profiles {
  background-color: rgba(200,200,200,0.8);
  border: 2px solid white;
  padding: 20px 20px;
}

#profiletable {

}

.each-profile {
  height: 50px;
}

.profile-table-email {
  font-size: 20px;
  color: white;
  padding-right: 300px;
  padding-left: 40px;
}

.profile-table-relevance {
  font-size: 30px;
  color: white;
  font-weight: bold;
  padding-right: 100px;
}


.profile-table-follow {
}
