.wrapper-showall {
  min-height: 80vh;
  background-color: black;
  padding: 30px 400px;
}

.container-nothing {
  margin-top: 80px;
}

.movie-list-title {
  font-size: 50px;
  margin-bottom: 30px;
}

.pts-deco {
  font-size: 25px;
  font-weight: lighter;
}

.container-showall {
  background-color: rgba(200,200,200,0.8);
  border: 2px solid white;
  padding: 20px 2px;
}

.tablemovies {

}

.each-movie {
  height: 50px;
}

.table-movie-name {
  font-size: 20px;
  color: white;
  padding-right: 300px;
  padding-left: 40px;
}

.table-movie-points {
  font-size: 30px;
  color: white;
  font-weight: bold;
  padding-right: 100px;
}


.table-movie-battlestotal {
  font-size: 30px;
  color: white;
  font-weight: bold;
  padding-right: 100px;
}

.table-movie-battleswon {
  font-size: 30px;
  color: white;
  font-weight: bold;
  padding-right: 100px;
}

.container-purple {
  margin: 20px;
  padding: 20px;
  background-color: rgb(162,0,255);
}
