.wrapper-usershow-none {
  min-height: calc(100vh - 140px);
  max-height: calc(100vh - 140px);
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.wrapper-usershow-list {
  min-height: calc(100vh - 140px);
  padding: 20px 20px;
}

.container-nothing {
  margin-top: 80px;
}

.movie-list-title {
  font-size: 50px;
  margin-bottom: 30px;
}

.pts-deco {
  font-size: 25px;
  font-weight: lighter;
}

.container-showall {
  background-color: rgba(200,200,200,0.8);
  border: 2px solid white;
  padding: 20px 2px;
}

.tablemovies {

}

.pagetitle {
  margin-bottom: 50px;
}

.each-movie {
  height: 50px;
}

.table-movie-name {
  font-size: 20px;
  color: white;
  padding-right: 300px;
  padding-left: 40px;
}

.table-movie-points {
  font-size: 30px;
  color: white;
  font-weight: bold;
  padding-right: 100px;
}


.table-movie-battlestotal {
  font-size: 30px;
  color: white;
  font-weight: bold;
  padding-right: 100px;
}

.table-movie-battleswon {
  font-size: 30px;
  color: white;
  font-weight: bold;
  padding-right: 100px;
}

.container-purple-none {
  margin: 20px;
  padding: 3vw 55vh;
  background-color: rgba(162,0,255,0.8);
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.container-purple-list {
  margin: 20px;
  padding: 20px 20px;
  background-color: rgba(162,0,255,0.8);
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.container-black {
  padding: 20px;
  display: flex;
  justify-content: space-around;
  color: white;
  margin: 0px;
  padding: 20px;
  h3 {
    margin: 0;
    text-shadow: none;
  }
  h4{
    text-shadow: none;
  }
}

.rank-now-btn {
  margin-top: 50px;
}

.desc-highlight {
  font-size: 30px;
  font-weight: bold;
}
