<div class="wrapper-moviesindex">
  <div class="container-moviesindex">
    <table id="tablemovies">
      <tr class="moviesindex-header">
        <td class="header-title">Title</td>
        <td class="header-winrate">Win rate(%)</td>
        <td class="header-awareness">Awareness(%)</td>
      </tr>
      <% @movies.each do |movie| %>
        <tr class="each-movie-moviesindex">
          <td class="moviesindex-name"> <%= movie.title %> </td>
          <td class="moviesindex-battleswon"> <%= @movies_winrate[@movies.index(movie)] %> </td>
          <td class="moviesindex-awareness"> <%= @movies_awareness[@movies.index(movie)] %> </td>
        </tr>
      <% end %>
    </table>
  </div>
</div>
