<div class="container">
	<h1>All movies</h1>
	<div class="row">
		<% @movies.each do |movie| %>
		    <div class="col-xs-12 col-sm-4 col-lg-3">
		      <!-- insert <div class="card"> -->
		      <div class="card recommendation" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://m.media-amazon.com/images/M/MV5BZmU0M2Y1OGUtZjIxNi00ZjBkLTg1MjgtOWIyNThiZWIwYjRiXkEyXkFqcGdeQXVyMTQxNzMzNDI@._V1_SY1000_CR0,0,643,1000_AL_.jpg');">
			    <div class="card-description">
			      <div class="name">
			          <h2><%= movie.title %></h2>
			          <p>Director here (year here<%= movie.year %>)</p>	
			      </div>
			  	</div>
			  	<a href="#" class="btn-green card-right">JÁ VI</p></a>
			  </div>
		    </div>
		<% end %>
	</div>
</div>