<div class="footer">
  <div class="footer-links">
    <a href="https://github.com/navarrovitor/everything" target="_blank"><i class="fab fa-github"></i></a>
  </div>
  <div class="footer-copyright">
    Created by the geniuses behind SpaceWagons!
    <a href="https://spacewagons.herokuapp.com/" target="_blank"><i class="fas fa-space-shuttle"></i></a>
  </div>
</div>
