<div class="footer index-da-massa">
  <div class="footer-links">
    <a href="https://github.com/navarrovitor/everything" target="_blank"><i class="fab fa-github"></i></a>
  </div>
  <div class="footer-copyright">
    <a href="https://spacewagons.herokuapp.com/" target="_blank"><i class="fas fa-space-shuttle"></i>&nbsp;Created by the geniuses behind SpaceWagons!</a>
  </div>
</div>
