<div class="footer">
  <div class="footer-links">
    <a href="https://github.com/navarrovitor/everything" target="_blank"><i class="fab fa-github"></i></a>
    <a href="spacewagons.herokuapp.com" target="_blank"><i class="fas fa-space-shuttle"></i></a>
  </div>
  <div class="footer-copyright">
    Made by the same creators of SpaceWagons!
  </div>
</div>
