<header class="masthead">
  <div class="container d-flex h-100 align-items-center">
    <div class="text-center margins">
      <h1 class="text-uppercase">Everything</h1>
      <h2 class="margins text-center">The only place in the galaxy for your recommendations.</h2>
      <%= link_to "Create your account", new_user_registration_path, class:"btn btn-primary js-scroll-trigger index-da-massa"%>
    </div>
  </div>
</header>
<canvas id="nokey" width="800" height="800">
    Your Browser Don't Support Canvas
</canvas>
