<h1>Teste de elementos</h1>

<p>Avatar pequeno</p>

<div>
	<img src='https://kitt.lewagon.com/placeholder/users/navarrovitor' class="avatar-square"/>
	<p>Avatar grande</p>
	<a href="#"><img src='https://kitt.lewagon.com/placeholder/users/navarrovitor' class="avatar-square avatar-square-large"/></a>
	<a href="https://www.xvideos.com/gay"><img src='https://kitt.lewagon.com/placeholder/users/fewrocker' class="avatar-square avatar-square-large"/></a>
	<a href="#"><img src='https://kitt.lewagon.com/placeholder/users/netoconcon' class="avatar-square avatar-square-large"/></a>
</div>

<div>
	<a href="#" class="btn-treehouse">BUTTON 1</a>

	<a href="#" class="btn-red">BUTTON 2</a>
</div>