<h1 style="text-align: center">Teste de elementos</h1>

<br>
<br>

<p class="title">Título</p>

<p>Um texto show. Aqui entra um texto show. Veja como ele é maneiro, descolado, <em>hip</em>, daora mesmo.</p>

<p>Comemore a beleza desse texto. Vibre com as coisas boas que a vida te proporcionou, e esse texto é a melhor delas.</p>

<br>
<br>


<a href="#" class="btn-treehouse">BUTTON 1</a>

<a href="#" class="btn-purple">BUTTON 2</a>

<br>
<br>
<br>

<p>Avatar pequeno</p>

<img src='https://kitt.lewagon.com/placeholder/users/navarrovitor' class="avatar-square"/>

<br>
<br>

<p>Avatar grande</p>
<a href="#"><img src='https://kitt.lewagon.com/placeholder/users/navarrovitor' class="avatar-square avatar-square-large"/></a>
<a href="https://www.xvideos.com/gay"><img src='https://kitt.lewagon.com/placeholder/users/fewrocker' class="avatar-square avatar-square-large"/></a>
<a href="#"><img src='https://kitt.lewagon.com/placeholder/users/netoconcon' class="avatar-square avatar-square-large"/></a>

<br>
<br>

<p>Batalhas</p>

<h1 style="text-align: center">Qual é o melhor filme?</h1>

<br>

<div class="container">
  <div class="row">
    <div class="col-xs-6">
      	<!-- insert <div class="card"> -->
		<div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://m.media-amazon.com/images/M/MV5BMjM2MDgxMDg0Nl5BMl5BanBnXkFtZTgwNTM2OTM5NDE@._V1_.jpg');">
	      <div class="btn-purple card-left">
	        <p>NÃO ASSISTI</p>
	      </div>		  
		  <div class="card-description">
		      <div class="name">
		        <h2>Back to the future</h2>
		        <p>Robert Zemeckis (1985)</p>	
		      </div>
		    </div>
		</div>      	
    </div>
    <div class="col-xs-6">
      	<!-- insert <div class="card"> -->
		<div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://m.media-amazon.com/images/M/MV5BZmU0M2Y1OGUtZjIxNi00ZjBkLTg1MjgtOWIyNThiZWIwYjRiXkEyXkFqcGdeQXVyMTQxNzMzNDI@._V1_SY1000_CR0,0,643,1000_AL_.jpg');">
	      <div class="btn-purple card-right">
	        	<p>NÃO ASSISTI</p>
	      </div>		  
		  <div class="card-description">
		    <div class="name">
		      <h2>Back to the future</h2>
		      <p>Robert Zemeckis (1985)</p>	
		    </div>
		  </div>
		</div>      		
    </div>
  </div>
</div>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>