<h1>Teste de elementos</h1>

<br>

<p class="title">Título</p>

<p>Um texto show. Aqui entra um texto show. Veja como ele é maneiro, descolado, <em>hip</em>, daora mesmo.</p>

Comemore a beleza desse texto. Vibre com as coisas boas que a vida te proporcionou, e esse texto é a melhor delas.</p>

<a href="#" class="btn-treehouse">BUTTON 1</a>

<a href="#" class="btn-purple">BUTTON 2</a>

<br><br>

<p>Avatar pequeno</p>

<img src='https://kitt.lewagon.com/placeholder/users/navarrovitor' class="avatar-square"/>

<p>Avatar grande</p>
<a href="#"><img src='https://kitt.lewagon.com/placeholder/users/navarrovitor' class="avatar-square avatar-square-large"/></a>
<a href="https://www.xvideos.com/gay"><img src='https://kitt.lewagon.com/placeholder/users/fewrocker' class="avatar-square avatar-square-large"/></a>
<a href="#"><img src='https://kitt.lewagon.com/placeholder/users/netoconcon' class="avatar-square avatar-square-large"/></a>

<p>Card</p>
<div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://kitt.lewagon.com/placeholder/cities/shanghai');">
  <div class="card-category">Popular</div>
  <div class="card-description">
    <h2>Le Wagon Shanghai</h2>
    <p>Very cool city, the best</p>
  </div>
  <img class="card-user" src="https://kitt.lewagon.com/placeholder/users/tgenaitay">
  <a class="card-link" href="#" ></a>
</div>