<h1>Teste de elementos</h1>

<p>Avatar pequeno</p>

<img src='https://kitt.lewagon.com/placeholder/users/navarrovitor' class="avatar-square"/>


<p>Avatar grande</p>
<a href="#"><img src='https://kitt.lewagon.com/placeholder/users/navarrovitor' class="avatar-square avatar-square-large"/></a>
<a href="#"><img src='https://kitt.lewagon.com/placeholder/users/fewrocker' class="avatar-square avatar-square-large"/></a>
<a href="#"><img src='https://kitt.lewagon.com/placeholder/users/netoconcon' class="avatar-square avatar-square-large"/></a>