<header class="masthead">
  <div class="container d-flex h-100 align-items-center">
    <div class="text-center margins">
      <h2 class="margins text-center lp-title">Get great reccomendations, easily</h2>
      <%= link_to "Create your account", new_user_registration_path, class:"button btn-purple  index-da-massa hvr-grow"%>
    </div>
  </div>
</header>
<canvas id="nokey" width="800" height="800">
    Your Browser Don't Support Canvas
</canvas>
