<header class="masthead">
  <div class="container d-flex h-100 align-items-center">
    <div class="text-center margins">
      <h2 class="margins text-center lp-title">Get great recommendations, easily</h2>
      <p class="margins text-center lp-subtitle">Getting bored too often?</p>
      <%= link_to "Create your account", new_user_registration_path, class:"button btn-purple index-da-massa hvr-grow"%>
    </div>
  </div>
</header>

<!--
<div class="container index-da-massa lp-container">
  <h1 style="text-align: center">Qual é o melhor filme?</h1>
  <br>
  <div class="row">
    <div class="col-xs-6">
      esse filme
    </div>

    <div class="col-xs-6">
      esse filme
      <ul>
        <li>a</li>
        <li>b</li>
        <li>b</li>
        <li>b</li>
        <li>b</li>
      </ul>
    </div>
  </div>
</div>

 -->
<canvas id="nokey">
</canvas>
