<p id="keyword-hidden" style="display: none;"> <%= @keyword %> </p>

<div class="wrapper-movie-info">
  <div class="container-movie-info text-center">
    <h1 class="movie-name"></h1>
    <%= image_tag "", class: "movie-poster"%>
    <p class="movie-description"></p>
  </div>
</div>
