/* -------------------------------------
 * Your CSS code for flash notices and alerts
* ------------------------------------- */

.alert {
  margin: 0;
  text-align: center;
  color: white;
}
.alert-info {
  background: rgba(45,45,45,0.5);
  border:none;
}
.alert-warning {
  background: rgba(175, 44, 42,0.5);
  border:none;
}
