body {
	background-color: #141414;
	color: #fff;
	font-family: 'Work Sans', sans-serif;
	font-weight: regular;
}

h1, h2, h3, h4, h5 {
	font-family: 'Work Sans', sans-serif;
	text-align: center;
}

p {
	font-weight: lighter;
}

.title {
	font-weight: 600;
}