.btn-green {
  font-size: 1.6rem;
  color: white;
  padding: 10px 15px;
  border-radius: 5px;
  font-weight: 600;
  background: #23CE6B;
  margin: 1.6rem;
  text-decoration: none;
  vertical-align: center;
  p {
    margin: 0px;
  }
}

a.btn-green:focus {
  color: black;
  text-decoration: none;
}

a.btn-green:hover {
  background: #a200ff;
  color: white;
  text-decoration: none;
}

.btn-red {
  font-size: 1.6rem;
  color: white;
  padding: 10px 15px;
  border-radius: 5px;
  font-weight: 600;
  background: #CB0000;
  margin: 1.6rem;
  text-decoration: none;
  vertical-align: center;
  p {
    margin: 0px;
  }
}

a.btn-red:focus {
  color: black;
  text-decoration: none;
}

a.btn-red:hover {
  background: #a200ff;
  color: white;
  text-decoration: none;
}