.card {
  height: 80vh;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  background-size: cover !important;
  background-position: center;
  color: white;
  position: relative;
}

.card-user {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 40px;
  border-radius: 50%;
}
.card-category {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 15px;
  text-transform: uppercase;
}
.card-description {
  position: absolute;
  bottom: 0px;
  left: 0px;
  background-color: rgba(0,0,0,0.9);  
  width: 100%;
  padding: 10px;
  text-align: center;
}


@media screen and (max-width: 950px) {
  .card-description h2 {
  font-size: 1em;
  }
  .card-description p {
  font-size: 0.8em;
  }  
}

@media screen and (min-width: 950px) {
  .card-description h2 {
  font-size: 1.6em;
  }
  .card-description p {
  font-size: 1em;
  }
  .hover-text {
    h2 {
      font-size: 1.6em;
    }
    :hover {
      background-color: white;
    }
  }
}

.card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index: 2;
  background: black;
  opacity: 0;
}
.card:hover {
  opacity: 0.8;
  transform: scale(1.05);
}