.footer {
  background: #141414;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  padding: 0px 50px;
  color: white;
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
  bottom: 0;
  width: 100%;
  font-size: 0.8em;
  opacity: 0.8;
}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: white;
  text-decoration: none;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 0.4;
}

.footer-copyright a {
  color: rgba(162,0,255,0.8);
  text-decoration: none;
}
