.blurry .blurrer {
  height: 50px + 10px;
  top: -10px;
  left: -10px;
  right: -10px;
  position: absolute;
  overflow: hidden;

  -webkit-filter: blur(10px);
  -moz-filter: blur(10px);
  -o-filter: blur(10px);
  -ms-filter: blur(10px);
  z-index: -500;

}

.blurry {
  background: none;
  color: white;
  border: none;

  .navbar-brand {
    color: white;
    font-weight: 600;
    text-shadow: none;

    &:hover {
      color: #516FC3;
    }
  }

  .navbar-nav>.open>a,
  .navbar-nav>.active>a {
    color: #8B6B45;

    &:hover {
      color: #F17B16;
    }
  }

  .navbar-nav>li>a {
    color: #F4AD33;
    font-weight: 500;
    text-shadow: none;

    &:hover {
      color: #F17B16;
    }
  }
}
.navbar-wagon {
  transition: all 0.3s ease;
  height: 70px;
  padding: 0px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width:100%;
}

/* Logo */
.navbar-wagon-brand img {
  height: 50px;
}

/* User Avatar */
.navbar-wagon .avatar {
  height: 35px;
  width: 35px;
  border-radius: 50%;
}

/* Right section */
.navbar-wagon-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Basic navbar item */
.navbar-wagon-item {
  cursor: pointer;
  padding: 0 20px;
}


.navbar-link {
  color: rgb(162,0,255);
  margin-left: 20px;
  text-shadow: 1px 1px 10px rgba(0,0,0,0.8);
  font-weight: 400;
  text-decoration: none;
}

.navbar-link:hover {
  text-decoration: none;
  color: white;
}

/* Dropdown menu */
.navbar-wagon-dropdown-menu {
  margin-top: 15px;
  box-shadow: 1px 1px 4px #E6E6E6;
  border-color: #E6E6E6;
}

.navbar-wagon-dropdown-menu li > a {
  text-shadow: none;
  transition: color 0.3s ease;
  font-weight: lighter !important;
  color: #999999 !important;
  font-size: 15px !important;
  line-height: 22px !important;
  padding: 10px 20px;
}
.navbar-wagon-dropdown-menu li > a:hover {
  background: transparent !important;
  color: black !important;
}
.navbar-wagon-dropdown-menu:before {
  content: ' ';
  height: 10px;
  width: 10px;
  position: absolute;
  right: 10px;
  top: -6px;
  background-color: white;
  transform: rotate(45deg);
  border-left: 1px solid #E6E6E6;
  border-top: 1px solid #E6E6E6;
}